<div class="container">
  <%= simple_form_for [@community, @recommendation] do |f| %>
    <%= f.input :category, collection: %w[restaurant watch read podcast health shop trip] %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.submit "Create recommendation", class: "btn-grad" %>
   <% end %>
</div>
